body{
    background-color: olive;
    color:white;
    justify-content: center;
    text-align: center;
}

.title{
    background-color: red;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 35px;
}


.instruction{
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 50px;
}

.nameBtn{
    justify-content: center;
    text-align: center;
    padding:10px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.previouslist{
    background-color:red;
    height:max-content;
    padding:25px;
    border-radius: 25px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.container{
    max-width: 800px;
    min-width: 300px;
    margin:0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

@media(max-width: 425px){
    .container{
        padding-right: 15px;
        padding-right: 15px;
    }

    .title{
    background-color: red;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 25px;
    padding: 5px;
}
.instruction{
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 2px;
    margin-bottom: 25px;
    font-size: 15px;
}

}

@media( max-width: 768px){
    .title{
    background-color: red;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 50px;
    padding: 25px;
}

.container{
        padding-right: 15px;
        padding-right: 25px;
        margin-right: 45px;
    }
}